<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>
<body>
 
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            {{ form.hidden_tag() }}
            {{form.user_name}}
            {{form.password}}
            {{form.submit}}
        </form>
        <a href="{{url_for('sign_up')}}">Don't have an account ?  Sign-Up</a>
    </div>
</body>


</html>