<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Sign-Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
 
    <div class="container">
        <h2>Sign-Up</h2>
        <form action="/sign_up" method="POST">
            {{ form.hidden_tag() }}
            {{form.user_name}}
            {{form.password}}
            {{form.submit}}
        </form>
        <a href="{{url_for('login')}}">Already have an account ? Login</a>
    </div>
</body>

</html>